#map {
    position: absolute;
}

#text {
    position: absolute;
    top: 68%;
    left: 10%;
    border: 1px solid #000000;
    width: 80%;
    height: 30%;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

#img {
    position: absolute;
    top: 10%;
    left: 519px;
    height: 45%;
}